__pycache__
.depreciated
.bittensor*
.bittensor_subnet_template*
.syliba*
.sylliba*
.custom_modules*
.development*
.financialnews*
.vision*
.translation*
.config_module*
.log
.venv
.env
*.db
.*
bittensor/
module_validator.egg-info/*
module_validator/modules/translation
module_validator/modules/embedding
module_validator/modules/finanicalnews
module_validator/chain/sylliba
module_validator/chain/vision
module_validator/bittensor_subnet_template
generated_config.json
generated_config.yaml
miner.py
validator.py
