[submodule "module_validator/chain/bittensor-subnet-template"]
	path = module_validator/chain/bittensor-subnet-template
	url = https://github.com/opentensor/bittensor-subnet-template
[submodule "module_validator/chain/vision"]
	path = module_validator/chain/vision
	url = https://github.com/Bakobiibizo/vision
